.btn {
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  background-color: $accent-color;
  border-radius: 80px;
  border: none;
  @include control-font;
  color: $contrast-font-color;
  transition: all 0.4s ease;
  &:hover {
    box-shadow: 0 10px 50px 3px rgba(0, 0, 0, 0.1);
  }
  &--search {
    color: transparent;
    background-image: url("../img/icons/search.svg");
    background-size: 1.2rem;
    background-position: center;
    background-repeat: no-repeat;
  }
}
