.form-control {
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0 0px 29px 0 rgba(0, 0, 0, 0.04);
  color: #444;
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
  border-radius: 80px;
  @include control-font;
  transition: all 0.4s ease;
  &:focus {
    box-shadow: 0 10px 29px 0 rgba(0, 0, 0, 0.1);
  }
}
