.mobile-nav {
  width: fit-content;
  align-self: center;
  @include visualy-hidden;
}

.menu-toggle {
  position: fixed;
  z-index: 4;
  user-select: none;
  background-color: transparent;
}

.toggle-control {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 4;
}

.menu-control {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: $contrast-bg-color;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    opacity 0.55s ease;
}

.menu-control:first-child {
  transform-origin: 0% 0%;
}

.menu-control:nth-last-child(2) {
  transform-origin: 0% 100%;
}

.toggle-control:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: $contrast-bg-color;
}

.toggle-control:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.toggle-control:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

.mobile-nav__list {
  position: absolute;
  width: 130vw;
  margin: -100px 0 0 -100px;
  height: 120vh;
  padding: 50px;
  padding-left: 100px;
  padding-top: 125px;
  background-color: #f2f2f3;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.mobile-nav__list li {
  padding: 10px 0;
  @include title-font;
}

.toggle-control:checked ~ ul {
  transform: none;
}

.mobile-nav__link {
  color: $font-color;
}

@media (max-width: $breakpoint-sm) {
  .mobile-nav {
    @include visualy-normal;
    margin: 0;
  }
}
