.social {
  display: flex;
  align-items: center;
}

.social__item {
  margin-right: 2rem;
  &:last-child {
    margin-right: 0;
  }
  &--search {
    margin-right: 3rem;
  }
}

.social__link {
  font-size: 0;
  display: block;
  height: 1.4rem;
  width: 1.4rem;
  transition: all 0.4s ease-in-out;
  &:hover {
    opacity: 0.7;
  }
  &--search {
    background-image: url("../img/icons/search.svg");
  }
  &--facebook {
    background-image: url("../img/icons/facebook.svg");
    &:hover {
      background-image: url("../img/icons/facebook-color.svg");
    }
  }
  &--linkedin {
    background-image: url("../img/icons/linkedin.svg");
    &:hover {
      background-image: url("../img/icons/linkedin-color.svg");
    }
  }
  &--pinterest {
    background-image: url("../img/icons/pinterest.svg");
    &:hover {
      background-image: url("../img/icons/pinterest-color.svg");
    }
  }
  &--instagram {
    background-image: url("../img/icons/instagram.svg");
    &:hover {
      background-image: url("../img/icons/instagram-color.svg");
    }
  }
}

.social--footer {
  .social__link {
    &--facebook {
      background-image: url("../img/icons/facebook-color.svg");
      &:hover {
        background-image: url("../img/icons/facebook-color.svg");
      }
    }
    &--linkedin {
      background-image: url("../img/icons/linkedin-color.svg");
      &:hover {
        background-image: url("../img/icons/linkedin-color.svg");
      }
    }
    &--pinterest {
      background-image: url("../img/icons/pinterest-color.svg");
      &:hover {
        background-image: url("../img/icons/pinterest-color.svg");
      }
    }
    &--instagram {
      background-image: url("../img/icons/instagram-color.svg");
      &:hover {
        background-image: url("../img/icons/instagram-color.svg");
      }
    }
  }
}
