.page-aside {
  margin-bottom: 1.5rem;
  margin-left: 1.1rem;
  background-color: #f2f2f3;
  border-radius: 8px;
  padding: 1rem;
  height: fit-content;
  color: $font-color;
  &--personal {
    @include visualy-hidden;
  }
  &--controls {
    @include visualy-hidden;
  }
}

.personal-info {
  margin-bottom: 1rem;
}

.personal-info__photo {
  height: 13rem;
  margin: 0 auto;
  margin-bottom: 0.4rem;
}

.personal-info__name {
  margin-bottom: 0.4rem;
  @include title-bold-font;
}

.personal-info__about {
  @include title-font;
}

.form-heading {
  @include title-bold-font;
  margin-bottom: 0.4rem;
}

.aside__social-list {
  justify-content: center;
  margin-bottom: 1rem;
}

.aside__subscribe {
  margin-bottom: 1rem;
}

.aside__subscribe-control {
  width: 100%;
  margin-bottom: 0.4rem;
}

.aside__subsccribe-btn {
  width: 100%;
}

.aside__search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 1rem;
}

.aside__search-control {
  width: auto;
  margin-right: 0.4rem;
  width: 100%;
}

.aside__tags-list {
  margin-bottom: 1rem;
}

.tags-list__item {
  margin-right: 0.4rem;
  margin-bottom: 0.4rem;
}

.tags-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  &:last-child {
    margin-right: 0;
  }
}

.tags-list__link {
  text-transform: lowercase;
  display: block;
  padding: 0.5rem;
  border-radius: 18px;
  border: solid 1px rgba(151, 151, 151, 0.52);
  @include paragraph-bold-font;
  color: $font-color;
  &:hover {
    border-radius: 9px;
  }
}

.aside__comment-item {
  margin-bottom: 0.6rem;
}

.aside__comments-heading {
  @include title-bold-font;
  margin-bottom: 0.4rem;
}

.comment {
  display: flex;
  flex-direction: row;
}

.comment__author-photo {
  height: 25%;
  width: 25%;
  margin-right: 5%;
}

.comment-column {
  width: 70%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.comment__author-name {
  @include paragraph-bold-font;
}

.comment__body {
  @include paragraph-font;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@media (max-width: $breakpoint-sm) {
  .page-aside {
    &--personal {
      margin-bottom: 1.5rem;
    }
    &--controls {
      margin-bottom: 1.5rem;
    }
  }
}
