.page-footer {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-template-rows: auto;
  grid-gap: 1rem;
  padding: 1.5rem;
  background-color: $contrast-bg-color;
  color: $contrast-font-color;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -9999px;
    right: 0;
    box-shadow: 9999px 0 0 $contrast-bg-color;
  }
}

.page-footer__column {
  position: relative;
}

.page-footer__logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  .logo {
    margin-right: 0.5rem;
  }
}

.page-footer__title {
  @include logo-font;
}

.page-footer__description {
  width: 100%;
  margin-top: 0.5rem;
}

.page-footer__section-title {
  margin-bottom: 0.8rem;
  @include title-bold-font;
}

.page-footer__contacts,
.page-footer__social {
  display: flex;
  flex-direction: column;
}

.page-footer__contacts-item {
  margin-bottom: 0.4rem;
}

@media (max-width: $breakpoint-sm) {
  .page-footer {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}
