.page-header {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 75px 75px;
  grid-gap: 20px;
  margin-bottom: 1.5rem;
  grid-template-areas:
    "logo soial"
    "logo nav";
}

.page-header__logo-link {
  grid-area: logo;
  justify-self: flex-start;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.page-header__social-list {
  grid-area: soial;
}

.page-header__nav-list {
  grid-area: nav;
}

.page-header__title {
  margin-left: 0.5rem;
  @include logo-font;
  font-weight: 700;
  color: $font-color;
}

.page-header__social-list,
.page-header__nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.page-header__nav-item {
  margin-right: 2rem;
  &:last-child {
    margin-right: 0;
  }
}

.page-header__nav-link {
  transition: all 0.4s ease-in-out;
  text-decoration: none;
  color: $font-color;
  @include title-font;
  &:hover {
    color: $accent-color;
  }
}

@media (max-width: $breakpoint-lg) {
  .page-header__logo-link {
    justify-content: center;
  }
  .page-header__title {
    @include visualy-hidden;
  }
}

@media (max-width: $breakpoint-sm) {
  .page-header {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 70px 120px;
    grid-template-areas:
      "menu soial"
      "logo logo";
  }
  .page-header__social-list {
    .social__item {
      @include visualy-hidden;
      &--search {
        @include visualy-normal;
        margin: 0;
      }
    }
  }
  .page-header__nav-list {
    @include visualy-hidden;
  }
  .mobile-nav {
    grid-area: menu;
  }
}
