.page-main {
  margin-bottom: 1.5rem;
}

.posts-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: auto;
  grid-gap: 1.1rem;
}

.post {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
  border: solid 1px rgba(151, 151, 151, 0.664);
  box-shadow: 0 0px 29px 0 rgba(0, 0, 0, 0.04);

  &:hover {
    background-color: $contrast-bg-color;
    .post__topic,
    .post__title,
    .post__description,
    .post-info__item {
      color: $contrast-font-color;
    }
    .post__img {
      transform: scale(1.2);
    }
  }
}

.img-wrapper {
  width: 100%;
  height: 12rem;
  min-height: 140px;
  overflow: hidden;
}

.post__main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem 1.2rem;
}

.post__topic,
.post__title,
.post__description {
  margin-bottom: 0.4rem;
  color: $font-color;
}

.post__topic {
  text-transform: uppercase;
  @include post-topic-font;
}

.post__title {
  @include title-bold-font;
}

.post__description {
  margin-bottom: 0.6rem;
  @include paragraph-font;
}

.post__img {
  transition: transform 0.5s ease;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post-info {
  margin-top: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.post-info__item {
  color: $font-color;
  position: relative;
  @include info-font;

  &--rate {
    padding-left: 13px;

    &::before {
      position: absolute;
      content: "";
      height: 0.6rem;
      width: 0.6rem;
      left: 0;
      top: 2px;
      background-image: url("../img/icons/star.svg");
    }
  }

  &--comments {
    padding-left: 13px;

    &::before {
      z-index: 1;
      position: absolute;
      content: "";
      height: 0.6rem;
      width: 0.6rem;
      left: 0;
      top: 2px;
      background-image: url("../img/icons/review.svg");
    }
  }
}
