.page-wrapper {
  width: $width-xl;
  margin: 0 auto;
  padding: 1.1rem 1.1rem 0 1.1rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "header header header header header"
    "main main main main aside"
    "footer footer footer footer footer";
}

.page-header {
  grid-area: header;
}

.page-main {
  grid-area: main;
}

.page-aside {
  grid-area: aside;
}

.page-footer {
  grid-area: footer;
}

@media (max-width: $breakpoint-xl) {
  .page-wrapper {
    width: $width-lg;
  }
}

@media (max-width: $breakpoint-lg) {
  .page-wrapper {
    width: $width-md;
  }
}
@media (max-width: $breakpoint-md) {
  .page-wrapper {
    width: $width-sm;
  }
}

@media (max-width: $breakpoint-sm) {
  .page-wrapper {
    // I use important because width was
    // magically redefined without it and I cannot understand why
    width: $width-xs !important;
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "aside-contacts"
      "main"
      "aside-controls"
      "footer";
  }
  .page-aside {
    @include visualy-hidden;
    &--personal {
      @include visualy-normal;
      margin-bottom: 1.5rem;
      grid-area: aside-contacts;
    }
    &--controls {
      @include visualy-normal;
      margin-bottom: 1.5rem;
      grid-area: aside-controls;
    }
  }
}
