h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p,
body,
ul {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

ul {
  padding: 0;
  list-style: none;
}

html {
  box-sizing: border-box;
  background-color: $bg-color;
  color: $font-color;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: inherit;
  background-color: inherit;
}
