@font-face {
  font-weight: 700;
  font-style: normal;
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-ExtraBold.otf") format("otf");
}

@font-face {
  font-weight: 300;
  font-style: normal;
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Light.otf") format("otf");
}
