html {
  font-family: "Gilroy", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  font-weight: 300;
  font-size: calc(12px + 0.35vw);
}

@mixin logo-font() {
  font-size: 3rem;
  font-weight: 700;
}

@mixin post-topic-font() {
  font-size: 0.5rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
}

@mixin title-font() {
  font-size: 1.1rem;
  font-weight: 300;
}

@mixin title-bold-font() {
  font-size: 1.2rem;
  font-weight: 700;
}

@mixin paragraph-font() {
  font-size: 0.9rem;
  font-weight: 300;
}

@mixin paragraph-bold-font() {
  font-size: 0.9rem;
  font-weight: 700;
}

@mixin info-font() {
  font-size: 0.7rem;
  font-weight: 700;
} 

@mixin control-font() {
  font-size: 0.9rem;
  font-weight: 300;
}
